# SPDX-FileCopyrightText: 2024 CSC - IT Center for Science Ltd. <www.csc.fi>
#
# SPDX-License-Identifier: MIT

name: Deploy HTML slides to Pages

on:
  push:
    branches:
      - "*"
    paths:
      - "**/docs/**"
      - "**/about.yml"
      - ".github/workflows/pages.yml"
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  pages:
    uses: ./.github/workflows/pages.yml
    with:
      include_pdf: false
